@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Roboto';
    src: url("src/assets/font/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'RobotoBold';
    src: url("src/assets/font/Roboto/Roboto-Bold.ttf");
}

.gridOwn {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding-inline: 10px;
    row-gap: 20px;
}


.pokemonBg {
    color: #CCDADD
}

.pokemonText {
    color: #2C72B8;
}

.pokemonBgText {
    color: #FFCB05
}

.bug {
    color: #3BB900;
}

.dark {
    color: #1C1C1C;
}

.dragon {
    color: #00458A;
}

.electric {
    color: #FFE600;
}

.fairy {
    color: #FFC2F9;
}

.fighting {
    color: #E40000;
}

.fire {
    color: #FF9900;
}

.flying {
    color: #CCDADD;
}

.ghost {
    color: #5A1E64;
}

.grass {
    color: #57921C;
}

.ground {
    color: #965A00;
}

.ice {
    color: #6AD2FF;
}

.normal {
    color: #B3B3B3;
}

.plant {
    color: #70DF00;
}

.poison {
    color: #AB00AE;
}

.psychic {
    color: #FF81F2;
}

.rock {
    color: #E1B237;
}

.steel {
    color: #2A4950;
}

.water {
    color: #00A0E4;
}